.container{
    margin-left: 20px;
    .user{
        margin-top: 15px;
        .userPhoto{
            height: 100px;
            width: 100px;
        }
    }

    .pages{
        margin-top: 20px;
        .selectedPage{
            font-weight: bold;
        }
        span{
            margin-left: 3px;
            cursor: pointer;
        }
    }
    .search{
        span{
            margin-right: 5px;
            margin-left: 10px;
        }
    }
}