.container {
    width: 200px;
    background-color: rgb(190, 186, 179);
    height: 100vh;
    text-align: center;
    >div{
        color: white;
        margin-top: 10px;
        font-size: 18px;
    }
    
}