.container {
    display: grid;
    grid-template-columns: 2fr 10fr;

    .dialog{
        padding: 5px;
    }

    .activeDialog{
        color: gold;
    }

    .message{
        padding: 5px;
    }
}